<!-- Row 1 -->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <!-- Jumbotron -->
        <div class="jumbotron">
            <h1 class="display-4">Dictionary Scrapper</h1>
            <p class="lead">Let's scrape a dictionary</p>
            <hr class="my-4">
            <p>Wooo HOOOOO!</p>
            <a class="btn btn-danger btn-lg" role="button" id="scrape-btn">Scrape</a>
            <a class="btn btn-success btn-lg" role="button" id="view-btn" href="/dictionary">View</a>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>

{{!-- Row 2 --}}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        {{!-- Cards --}}
        {{#each result}}
        <div class="card d-inline-flex flex-row bd-highlight mb-3 text-wrap" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-wrap">{{title}}</h5>
                <p class="card-text text-wrap">{{link}}</p>
                <p class="card-text text-wrap">{{content}}</p>
                <button type="button" class="btn btn-primary" id="addNote-btn"data-id={{_id}}>Click to add a Note</button>
                <button type="button" class="btn btn-primary" id="viewNote-btn"data-id={{_id}}>View note</button>
            </div>
        </div>
         
                <div class="modal fade" id={{_id}} tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Leave Your Note Here!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <input class="form-control" type="text" placeholder="Enter your name"data-value={{_id}}><br>
                        <textarea class="form-control note text-dark" rows="2" data-text={{_id}}></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"id={{_id}} >Add Note</button>
                    </div>
                </div>
            </div>
        </div>
       {{/each}}
        <div class="col-md-2"></div>

    </div>